In [54]:
import pandas as pd
import numpy as np
import seaborn as sns
from numba import jit

In [55]:
train=pd.read_csv('train.csv')
test=pd.read_csv("test.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [56]:
(train[train["Cabin"].isnull()==False]["Survived"]==1).mean()

0.66666666666666663

In [57]:
(test[test["Cabin"].isnull()==True]).describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   327.000000  327.000000  245.000000  327.000000  327.000000  326.000000
mean   1100.088685    2.571865   27.085714    0.412844    0.373089   19.080828
std     119.523394    0.641273   12.339533    0.954913    1.015951   24.876658
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     998.500000    2.000000   21.000000    0.000000    0.000000    7.822900
50%    1102.000000    3.000000   25.000000    0.000000    0.000000   11.500000
75%    1201.500000    3.000000   33.000000    1.000000    0.000000   22.274975
max    1309.000000    3.000000   63.000000    8.000000    9.000000  262.375000

In [58]:
train["Cabin"].isnull().sum().sum()

687

In [59]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [60]:
342/891

0.3838383838383838

In [61]:
train["Survived"].mean()

0.3838383838383838

In [62]:
train['Age'].mean()

29.69911764705882

In [63]:
train['Age'].astype('str')

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5       nan
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17      nan
18     31.0
19      nan
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26      nan
27     19.0
28      nan
29      nan
       ...
861    21.0
862    48.0
863     nan
864    24.0
865    42.0
866    27.0
867    31.0
868     nan
869     4.0
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878     nan
879    56.0
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888     nan
889    26.0
890    32.0
Name: Age, Length: 891, dtype: object

In [64]:
train["Age"] = train["Age"].replace(to_replace=[None] ,value=[29])
test["Age"] = test["Age"].replace(to_replace=[None] ,value=[29])
train["Embarked"] = train["Embarked"].replace(to_replace=[None] ,value=['S'])
test["Embarked"] = test["Embarked"].replace(to_replace=[None] ,value=['S'])
#train["Cabin"] = train["Cabin"].replace(to_replace=[None],value=[0])
#test["Cabin"] = test["Cabin"].replace(to_replace=[None],value=[0])

In [65]:
train['Age'].astype("int64")
test['Age'].astype("int64")

0      34
1      47
2      62
3      27
4      22
5      14
6      30
7      26
8      18
9      21
10     29
11     46
12     23
13     63
14     47
15     24
16     35
17     21
18     27
19     45
20     55
21      9
22     29
23     21
24     48
25     50
26     22
27     22
28     41
29     29
       ..
388    21
389     6
390    23
391    51
392    13
393    47
394    29
395    18
396    24
397    48
398    22
399    31
400    30
401    38
402    22
403    17
404    43
405    20
406    23
407    50
408    29
409     3
410    29
411    37
412    28
413    29
414    39
415    38
416    29
417    29
Name: Age, Length: 418, dtype: int64

In [66]:
del train["Cabin"]
del test["Cabin"]
del train["Name"]
del test["Name"]
#del train["PassengerId"]

In [67]:
del test['Ticket']
del train['Ticket']

In [68]:
gene_type = train["Cabin"].iloc[0:]
gene_type[55]

KeyError: 'Cabin'

In [69]:


tt = [train, test]

for dataset in tt:
    dataset['Sex'] = dataset['Sex'].map( {'female': 1, 'male': 0} ).astype(int)

train.head()

for dataset in tt:
    dataset['Embarked'] = dataset['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype('int')

i=0
#for dataset in tt:
    #dataset['Cabin'] = dataset['Cabin'].map( {0:0,(gene_type[i]!=0):1} )
    #i+=1

In [70]:
train

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,0,22.0,1,0,7.2500,0
1,2,1,1,1,38.0,1,0,71.2833,1
2,3,1,3,1,26.0,0,0,7.9250,0
3,4,1,1,1,35.0,1,0,53.1000,0
4,5,0,3,0,35.0,0,0,8.0500,0
5,6,0,3,0,29.0,0,0,8.4583,2
6,7,0,1,0,54.0,0,0,51.8625,0
7,8,0,3,0,2.0,3,1,21.0750,0
8,9,1,3,1,27.0,0,2,11.1333,0
9,10,1,2,1,14.0,1,0,30.0708,1
10,11,1,3,1,4.0,1,1,16.7000,0
11,12,1,1,1,58.0,0,0,26.5500,0
12,13,0,3,0,20.0,0,0,8.0500,0
13,14,0,3,0,39.0,1,5,31.2750,0
14,15,0,3,1,14.0,0,0,7.8542,0
15,16,1,2,1,55.0,0,0,16.0000,0
16,17,0,3,0,2.0,4,1,29.1250,2
17,18,1,2,0,29.0,0,0,13.0000,0
18,19,0,3,1,31.0,1,0,18.0000,0
19,20,1,3,1,29.0,0,0,7.2250,1
20,21,0,2,0,35.0,0,0,26.0000,0
21,22,1,2,0,34.0,0,0,13.0000,0
22,23,1,3,1,15.0,0,0,8.0292,2
23,24,1,1,0,28.0,0,0,35.5000,0
24,25,0,3,1,8.0,3,1,21.0750,0
25,26,1,3,1,38.0,1,5,31.3875,0
26,27,0,3,0,29.0,0,0,7.2250,1
27,28,0,1,0,19.0,3,2,263.0000,0
28,29,1,3,1,29.0,0,0,7.8792,2
29,30,0,3,0,29.0,0,0,7.8958,0
...,...,...,...,...,...,...,...,...,...
861,862,0,2,0,21.0,1,0,11.5000,0
862,863,1,1,1,48.0,0,0,25.9292,0
863,864,0,3,1,29.0,8,2,69.5500,0
864,865,0,2,0,24.0,0,0,13.0000,0
865,866,1,2,1,42.0,0,0,13.0000,0
866,867,1,2,1,27.0,1,0,13.8583,1
867,868,0,1,0,31.0,0,0,50.4958,0
868,869,0,3,0,29.0,0,0,9.5000,0
869,870,1,3,0,4.0,1,1,11.1333,0
870,871,0,3,0,26.0,0,0,7.8958,0
871,872,1,1,1,47.0,1,1,52.5542,0
872,873,0,1,0,33.0,0,0,5.0000,0
873,874,0,3,0,47.0,0,0,9.0000,0
874,875,1,2,1,28.0,1,0,24.0000,1
875,876,1,3,1,15.0,0,0,7.2250,1
876,877,0,3,0,20.0,0,0,9.8458,0
877,878,0,3,0,19.0,0,0,7.8958,0
878,879,0,3,0,29.0,0,0,7.8958,0
879,880,1,1,1,56.0,0,1,83.1583,1
880,881,1,2,1,25.0,0,1,26.0000,0
881,882,0,3,0,33.0,0,0,7.8958,0
882,883,0,3,1,22.0,0,0,10.5167,0
883,884,0,2,0,28.0,0,0,10.5000,0
884,885,0,3,0,25.0,0,0,7.0500,0
885,886,0,3,1,39.0,0,5,29.1250,2
886,887,0,2,0,27.0,0,0,13.0000,0
887,888,1,1,1,19.0,0,0,30.0000,0
888,889,0,3,1,29.0,1,2,23.4500,0
889,890,1,1,0,26.0,0,0,30.0000,1
890,891,0,3,0,32.0,0,0,7.7500,2

In [71]:
test

     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0            892       3    0  34.5      0      0    7.8292         2
1            893       3    1  47.0      1      0    7.0000         0
2            894       2    0  62.0      0      0    9.6875         2
3            895       3    0  27.0      0      0    8.6625         0
4            896       3    1  22.0      1      1   12.2875         0
5            897       3    0  14.0      0      0    9.2250         0
6            898       3    1  30.0      0      0    7.6292         2
7            899       2    0  26.0      1      1   29.0000         0
8            900       3    1  18.0      0      0    7.2292         1
9            901       3    0  21.0      2      0   24.1500         0
10           902       3    0  29.0      0      0    7.8958         0
11           903       1    0  46.0      0      0   26.0000         0
12           904       1    1  23.0      1      0   82.2667         0
13           905       2    0  63.0      1      0   26.0000         0
14           906       1    1  47.0      1      0   61.1750         0
15           907       2    1  24.0      1      0   27.7208         1
16           908       2    0  35.0      0      0   12.3500         2
17           909       3    0  21.0      0      0    7.2250         1
18           910       3    1  27.0      1      0    7.9250         0
19           911       3    1  45.0      0      0    7.2250         1
20           912       1    0  55.0      1      0   59.4000         1
21           913       3    0   9.0      0      1    3.1708         0
22           914       1    1  29.0      0      0   31.6833         0
23           915       1    0  21.0      0      1   61.3792         1
24           916       1    1  48.0      1      3  262.3750         1
25           917       3    0  50.0      1      0   14.5000         0
26           918       1    1  22.0      0      1   61.9792         1
27           919       3    0  22.5      0      0    7.2250         1
28           920       1    0  41.0      0      0   30.5000         0
29           921       3    0  29.0      2      0   21.6792         1
..           ...     ...  ...   ...    ...    ...       ...       ...
388         1280       3    0  21.0      0      0    7.7500         2
389         1281       3    0   6.0      3      1   21.0750         0
390         1282       1    0  23.0      0      0   93.5000         0
391         1283       1    1  51.0      0      1   39.4000         0
392         1284       3    0  13.0      0      2   20.2500         0
393         1285       2    0  47.0      0      0   10.5000         0
394         1286       3    0  29.0      3      1   22.0250         0
395         1287       1    1  18.0      1      0   60.0000         0
396         1288       3    0  24.0      0      0    7.2500         2
397         1289       1    1  48.0      1      1   79.2000         1
398         1290       3    0  22.0      0      0    7.7750         0
399         1291       3    0  31.0      0      0    7.7333         2
400         1292       1    1  30.0      0      0  164.8667         0
401         1293       2    0  38.0      1      0   21.0000         0
402         1294       1    1  22.0      0      1   59.4000         1
403         1295       1    0  17.0      0      0   47.1000         0
404         1296       1    0  43.0      1      0   27.7208         1
405         1297       2    0  20.0      0      0   13.8625         1
406         1298       2    0  23.0      1      0   10.5000         0
407         1299       1    0  50.0      1      1  211.5000         1
408         1300       3    1  29.0      0      0    7.7208         2
409         1301       3    1   3.0      1      1   13.7750         0
410         1302       3    1  29.0      0      0    7.7500         2
411         1303       1    1  37.0      1      0   90.0000         2
412         1304       3    1  28.0      0      0    7.7750         0
413         1305       3    0  29.0      0      0    8.0500         0
414         1306       1    1  39.0      0      0  108.9000         1
415         1307       3    0  38.5      0      0    7.2500         0
416         1308       3    0  29.0      0      0    8.0500         0
417         1309       3    0  29.0      1      1   22.3583         1

[418 rows x 8 columns]

In [ ]:
#train["Cabin"] = train["Cabin"].replace(to_replace=[None],value=[0])
#test["Cabin"] = test["Cabin"].replace(to_replace=[None],value=[0])

In [72]:
test["Fare"] = test["Fare"].replace(to_replace=[None],value=[9])

In [73]:
import numpy as np
x=np.ones((9,891))
for i in range(0,9):
    x[i]=np.array(train.iloc[:,[i]]).T
y=np.array(x[1])
xp=np.array(x[0])
x=np.array(x[2:]).T
x=np.vstack((xp.T,x.T))
x=x.T
x.shape

(891, 8)

In [74]:
xt=np.ones((8,418))
for i in range(0,8):
    xt[i]=np.array(test.iloc[:,[i]]).T
xt=np.array(xt).T
xt.shape

(418, 8)

In [81]:
%%time
from sklearn import ensemble , cross_validation, metrics,tree,manifold,linear_model,model_selection, ensemble
import xgboost as xgb
feat=["Pclass","Sex","Age","SibSp","Parch","Fare","Embarked"]
estimator = xgb.XGBClassifier(learning_rate=0.01, max_depth=200, n_estimators=300, min_child_weight=4,feature_names=feat)
print(cross_validation.cross_val_score(estimator, x, y,scoring = 'roc_auc', cv = 10).mean())

0.868601349631
CPU times: user 2.36 s, sys: 39.9 ms, total: 2.4 s
Wall time: 2.41 s

In [ ]:
%%time

tree_clf=ensemble.RandomForestClassifier(n_estimators=200,max_depth=200)
print(cross_validation.cross_val_score(tree_clf, x, y,scoring = 'roc_auc', cv = 10).mean())

In [ ]:
tree_clf.fit(x,y)
tree_clf.predict(xt)

In [82]:
estimator.fit(x,y)
y_pred = estimator.predict(xt)
l=xt.T
m=l[0]
sub=np.vstack((m,y_pred)).T
np.round(sub[1])

array([ 893.,    0.])

In [83]:
subpd=pd.DataFrame(sub)
subpd=subpd.rename(columns = {0:'PassengerId',1:'Survived'})
subpd=subpd.astype("int")
subpd

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         1
20           912         0
21           913         0
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         1
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [84]:
subpd.to_csv('out.csv',sep=",",index=False)